ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
  border: solid thin grey;
  padding: 20px;
}

li {
  display: flex;
  flex-direction: row;
  flex: 1;
  
  margin: 5px;
}

fieldset {
  display: flex;
  flex-direction: column;
}

input {
  text-align: center;
}

#empty-notice {
  font-size: 22px;
  color: grey;
}